[submodule "modules/solarized-colors"]
	path = modules/solarized-colors
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "modules/monky"]
	path = modules/monky
	url = git@github.com:ananthakumaran/monky.git
[submodule "modules/wooky"]
	path = modules/wooky
	url = git@github.com:katspaugh/wooky.el.git
